name: Docker Publish

on:
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'develop'
        type: choice
        options:
          - develop
          - main
      version:
        description: 'Version tag (optional)'
        required: false
        type: string

env:
  REGISTRY: docker.io
  API_IMAGE_NAME: code0ex/ecowatch-api
  WEB_IMAGE_NAME: code0ex/ecowatch-web

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      ENVIRONMENT_TAG: ${{ github.event.inputs.environment == 'main' ? 'prod' : 'pre-prod' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.API_IMAGE_NAME }}
            ${{ env.WEB_IMAGE_NAME }}
          tags: |
            # On utilise le tag défini en fonction de l'environnement (prod ou pre-prod)
            type=raw,value=${{ env.ENVIRONMENT_TAG }}
            # On garde éventuellement les tags semver basés sur le versionnement
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            # On ajoute 'latest' uniquement si l'environnement est en production (main)
            type=raw,value=latest,enable=${{ github.event.inputs.environment == 'main' ? 'true' : 'false' }}

      - name: Build and push API image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: runner-api
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push Web image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: runner-web
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
